// %action-icons {
//   width: 24px;
//   height: auto;
//   cursor: pointer;
//   margin: 0 15px;
// }

%grid{
    display: flex;
    flex-direction: row;
    align-items: center;
    background: #FFFFFF;
    border: 1px solid rgba(60, 60, 67, 0.18);
    border-radius: 6px;
    margin-right: 6px;
}

%text{
    font-family: "SF Pro Text Regular";
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 17px;
    letter-spacing: -0.2px;
    color: #262626;
    text-align: center;
    cursor: pointer;
}
